cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
cryptography==44.0.1
et_xmlfile==2.0.0
filetype==1.2.0
lxml==5.3.0
openpyxl==3.1.5
packaging==24.2
pdfminer.six==20240706
pillow==11.1.0
psutil==6.1.1
pycparser==2.22
pytesseract==0.3.13
python-docx==1.1.2
python-magic-bin==0.4.14
python-pptx==1.0.2
typing_extensions==4.12.2
XlsxWriter==3.2.0
